# You will need a Spotify API Developer account

SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

# You will need a Sonos API Developer account

SONOS_CLIENT_ID=""
SONOS_CLIENT_SECRET=""

# The Device ID of your Sonos speaker

SONOS_DEVICE_ID = ""